
* {
    box-sizing: border-box;
margin: 0px;
}
body {
    font-family: Arial, Helvetica, sans-serif;
	background-color: #191919;
}
body, html {
    height: 100%;
}
.caption {
	//background-color: blue;
  left: 0;
  top: 19%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 3px;
  letter-spacing: 20px;
}
#blog_head {
  // background-color: powderblue;
	margin-top: 20px;
    padding-left: 180px;
    padding-top: 40px;
    text-align: left;
	width: 100%;
    height: 100px;
	font-family: "Contrail One";
	letter-spacing: 10px;
    font-size: 48px;
    color: #f76935;
}
#abc
{	
	//background-color: yellow;
	
	width: 80%;
	height: 300px;
	margin-top: 50px;
	margin-left: 170px
	
}
#body_icon
{
	/*background-color: blue;*/
	float: left;
	width: 33.33%;
	height: 250px;
	display: inline;
	text-align: center;
	padding-top: 30px
	
}
#body_text
{
	/*background-color: blue;*/
	float: left;
	width: 33.33%;
	height: 30px;
	display: inline;
	text-align: center;
	font-family: "Contrail One";
	color: white;
	font-size: 28px;
}